<div class="contacts_block">
    <div class="block">
        <h2 class="main_title_blue">Contacts</h2>
        <p>Sign up for our newsletter to receive updates</p>

        <form action="/">
            <input type="text" name="name" placeholder="Name">
            <input type="tel" name="phone" placeholder="Phone">
            <input type="email" name="email" placeholder="E-mail">
            <input type="submit" value="Send">
        </form>
    </div>
</div>