<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru">
	<head>
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="css/style.css">
		<title>{{ title }}</title>
	</head>

	<body>
		<div class="main_wrapper">
			{% include 'journal.twig' %}
			{% include 'travel.twig' %}
			{% include 'contacts.twig' %}
		</div>
	</body>
</html>